{% extends 'base.html' %}
{% load static %}

{% block title %}Milble - 부대 커뮤니티 추가{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'create_unit.css' %}">
{% endblock %}

{% block main %}
    <main class="container">
        <h1 class="main-title">부대 커뮤니티 추가</h1>

        <div class="form-container">
            <form id="unit-form" method="POST">
                {% csrf_token %}
                
                <label for="id_name">전체 부대명</label>
                {{ form.name }}
                
               {% if form.name.errors %}
                    <div class="error">
                        {% for error in form.name.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}

                <label for="id_answer1">생활관이 몇 생활관까지 있나요?</label>
                {{ form.answer1 }}

                <label for="id_answer2">중대장님 성함은 무엇인가요?</label>
                {{ form.answer2 }}

                <label for="id_answer3">싸지방 컴퓨터 대수는 몇 대인가요?</label>
                {{ form.answer3 }}
                

                <button type="submit">부대 추가</button>
            </form>

            <!-- 주의사항 -->
            <div class="note">
                부대명은 최대한 자세하게 작성해주시면 찾기 쉬워집니다.<br>
                부대의 범위는 생활관 룰이 미치는 범위까지입니다.<br>
                익명을 위해서 최대 중대 혹은 대대까지만 부대명을 적어주세요.<br>
                질문은 해당 커뮤니티를 다른 사용자가 가입할 때 사용됩니다.<br>
                동일한 이름의 부대 커뮤니티가 있는 경우 생성되지 않습니다.<br>
                <span style="color: red;">부대를 추가하면 자동으로 그 부대에 가입됩니다.</span>
            </div>
        </div>

        <div class="unit-list">
            <h2>현재 등록된 부대 커뮤니티</h2>
            <ul>
                {% for unit in units %}
                    <li>{{ unit.name }}</li>
                {% empty %}
                    <li>등록된 부대 커뮤니티가 없습니다.</li>
                {% endfor %}
            </ul>
        </div>
    </main>
{% endblock %}
