{% extends 'base.html' %}
{% load static %}

{% block title %}Milble - 군인들의 익명 SNS{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
{% endblock %}

{% block main %}
{% include 'welcome_popup.html' %}
    <main class="container">
        <h1 class="main-title">군인 익명 커뮤니티 - MILBLE</h1>
        <div class="search-container">
            <input type="search" id="search-input" class="search-input" placeholder="관심있는 주제를 검색해보세요">
            <span class="search-icon" onclick="performSearch()">🔍</span>
            <button id="hidden-search-button" onclick="performSearch()" style="display: none;"></button>
        </div>

        <!-- 우리부대 게시물 섹션 -->
        {% if user.is_authenticated and user.unit %}
        <div class="post-units">
            <h2>
                우리부대
                <a href="{% url 'posts' user.unit.name %}" class="more-link">더보기 ></a>
            </h2>
            <ul class="post-list">
                {% for post in user_unit_posts.popular %}
                <li class="post-item">
                    <a href="{% url 'post_detail' post.id %}" class="post-title">
                        <span>🔥&nbsp;{{ post.title }}</span>
                    </a>
                    <div class="post-stats">
                        <div class="like-stat">
                            <span class="icon">❤️</span>
                            <span class="number">{{ post.likes }}</span>
                        </div>
                        <div class="comment-stat">
                            <span class="icon">💬</span>
                            <span class="number">{{ post.comments_count }}</span>
                        </div>
                    </div>
                </li>
                {% endfor %}
                {% for post in user_unit_posts.recent %}
                <li class="post-item">
                    <a href="{% url 'post_detail' post.id %}" class="post-title">
                        <span>{{ post.title }}</span>
                    </a>
                    <div class="post-stats">
                        <div class="like-stat">
                            <span class="icon">❤️</span>
                            <span class="number">{{ post.likes }}</span>
                        </div>
                        <div class="comment-stat">
                            <span class="icon">💬</span>
                            <span class="number">{{ post.comments_count }}</span>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}


        <div class="post-units">
            <h2>
                전체
                  <a href="{% url 'popular_posts' %}" class="more-link">더보기 ></a> <!-- 더보기 URL 수정 -->
            </h2>
            <ul class="post-list">
                {% for post in popular_posts %}
                <li class="post-item">
                    <a href="{% url 'post_detail' post.id %}" class="post-title">
                        <span>{{ post.title }}</span>
                    </a>
                    <div class="post-stats">
                        <div class="like-stat">
                            <span class="icon">❤️</span>
                            <span class="number">{{ post.likes }}</span>
                        </div>
                        <div class="comment-stat">
                            <span class="icon">💬</span>
                            <span class="number">{{ post.comments_count }}</span>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        
        
        <div class="post-units">
            <h2>
                자유
                  <a href="{% url 'popular_posts' %}" class="more-link">더보기 ></a> <!-- 더보기 URL 수정 -->
            </h2>
            <ul class="post-list">
                {% for post in category_posts %}
                <li class="post-item">
                    <a href="{% url 'post_detail' post.id %}" class="post-title">
                        <span>{{ post.title }}</span>
                    </a>
                    <div class="post-stats">
                        <div class="like-stat">
                            <span class="icon">❤️</span>
                            <span class="number">{{ post.likes }}</span>
                        </div>
                        <div class="comment-stat">
                            <span class="icon">💬</span>
                            <span class="number">{{ post.comments_count }}</span>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="unit-posts">
            {% for unit, posts in unit_posts.items %}
            <div class="unit-post">
                <h3>
                    {{ unit.name }}
                     <a href="{% url 'posts' unit.name %}" class="more-link">더보기 ></a> <!-- 더보기 추가 -->
                </h3>
                <ul class="unit-post-list">
                    {% for post in posts %}
                    <li class="unit-post-item">
                        <a href="{% url 'post_detail' post.id %}" class="unit-post-title">{{ post.title }}</a>
                            <div class="views-container">
                            <span class="icon">👀</span>
                            <span class="unit-post-views">{{ post.views }}</span>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </main>
<script>
    function performSearch() {
        const query = document.getElementById('search-input').value;
        if (query) {
            window.location.href = `/search/?q=` + encodeURIComponent(query);
        }
    }

    document.getElementById('search-input').addEventListener('keydown', function(event) {
        if (event.key === 'Enter') {
            performSearch();
        }
    });

</script>
{% endblock %}
