{% extends 'base.html' %}
{% load static %}
{% load mask_filters %}

{% block title %}Milble - 전체 게시물{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'popular_posts.css' %}">
{% endblock %}

{% block main %}
    <main class="container">
        <h1 class="unit-title">전체</h1> <!-- '인기'로 변경 -->
        
        <!-- 부대 리스트와 버튼 영역 분리 -->
        <div class="units">
            <div class="units-list">
                <button class="popular-btn" onclick="window.location.href='{% url 'popular_posts' %}'">전체</button>
                
                <!-- 사용자가 속한 부대 버튼 -->
                {% if user.unit %}
                    {% if current_unit == user.unit %}
                        <button class="selected-unit-btn" onclick="window.location.href='{% url 'posts' user.unit.name %}'">{{ user.unit.name }}</button>
                    {% else %}
                        <button class="unit-btn" onclick="window.location.href='{% url 'posts' user.unit.name %}'">{{ user.unit.name }}</button>
                    {% endif %}
                {% endif %}

                <!-- 카테고리 버튼 추가 -->
                {% for category in categories %}
                    {% if current_category == category %}
                        <button class="selected-unit-btn" onclick="window.location.href='{% url 'posts' category.name %}'">{{ category.name }}</button>
                    {% else %}
                        <button class="unit-btn" onclick="window.location.href='{% url 'posts' category.name %}'">{{ category.name }}</button>
                    {% endif %}
                {% endfor %}
                
                {% for unit in units %}
                    {% if unit.name == user.unit.name %}

                    {% else %}
                        <button class="unit-btn" onclick="window.location.href='{% url 'posts' unit.name %}'">{{ unit.name }}</button>
                    {% endif %}
                {% endfor %}
                
            </div>
        </div>
        
        <div class="post-list">
            {% for post in posts %}
            <div class="post-item">
                <a href="{% url 'post_detail' post.id %}" class="post-title">{{ post.title }}</a>
                <p class="post-content">{{ post.content|truncatewords:20 }}</p>
                <div class="post-meta">
                    <div class="unit-author">
                        <span class="unit">{{ post.unit }}</span>
                        <span class="post-author">{{ post.author|mask_author }}</span>
                    </div>
                    <div class="post-stats">
                        <div class="like-stat">
                            <span class="icon">❤️</span>
                            <span class="number">{{ post.likes }}</span>
                        </div>
                        <div class="comment-stat">
                            <span class="icon">💬</span>
                            <span class="number">{{ post.comments.count }}</span>
                        </div>
                        <div class="views-stat">
                            <span class="icon">👀</span>
                            <span class="number">{{ post.views }}</span>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <p>게시물이 없습니다.</p>
            {% endfor %}
        </div>
    </main>
{% endblock %}
