{% extends 'base.html' %}
{% load static %}

{% block title %}Milble - 내 정보{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'profile.css' %}">
{% endblock %}

{% block main %}
    <div class="main-content">
        <div class="profile-container">
            <h1>내 정보</h1>
            <div class="info">
                <label for="user_id">ID</label>
                <p id="user_id">{{ user.username }}</p> <!-- CustomUser의 username 사용 -->
            </div>
            <div class="info">
                <label for="unit">소속</label>
                <p id="unit">{{ user.unit|default:"정보 없음" }}</p> <!-- CustomUser의 unit 사용 -->
            </div>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="login-btn">로그아웃</button>
            </form>
        </div>
    </div>
{% endblock %}
