{% extends 'base.html' %}
{% load static %}

{% block title %}Milble - 회원가입{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'signup_request.css' %}">
{% endblock %}

{% block main %}
<div class="main-content">
    <div class="container">
        <h1>회원가입</h1>
        <p class="disclaimer">회원가입 신청 후 24시간 이내에 완료됩니다.</p>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                <label for="{{ field.id_for_label }}">
                    {{ field.label }}
                    {% if field.label == "현역병 인증 사진" %}  <!-- 인증 사진 필드에만 적용 -->
                         <button type="button" class="info-icon" onclick="showVerificationPopup()">?</button>
                    {% endif %}
            </label>
                {{ field }}
                {% if field.errors %}
                    <div class="form-error">{{ field.errors.0 }}</div>
                {% endif %}
            {% endfor %}
            <button type="submit">가입 신청</button>
        </form>
    </div>
</div>
    <!-- Verification Popup (현역병 인증 사진 팝업) -->
    <div id="verification-popup" class="popup">
        <div class="popup-content">
            <span class="close" onclick="closeVerificationPopup()">&times;</span>
            <img src="/media/images/armyVerified.jpg" alt="Verification Image">
            <p>밀리패스(어플)접속 - 더보기 - 회원정보 관리에서 스크린샷을 찍어 업로드해주세요.<br>
            익명처리를 위해 현역병과 군번 앞자리를 빼고 다른 것들은 모자이크 처리해주세요.</p>
            <a href="https://www.milipass.kr/main.html" target="_blank">
                밀리패스 홈페이지
            </a>
        </div>
    </div>
    
     <script>
            document.addEventListener('DOMContentLoaded', function() {
                // Unit popup (부대 소속 팝업) 관련 함수
                function showUnitPopup() {
                    document.getElementById('unit-popup').style.display = 'flex';
                }

                function closeUnitPopup() {
                    document.getElementById('unit-popup').style.display = 'none';
                }

                // Verification popup (현역병 인증 팝업) 관련 함수
                function showVerificationPopup() {
                    document.getElementById('verification-popup').style.display = 'flex';
                }

                function closeVerificationPopup() {
                    document.getElementById('verification-popup').style.display = 'none';
                }

                // Expose functions globally
                window.showUnitPopup = showUnitPopup;
                window.closeUnitPopup = closeUnitPopup;
                window.showVerificationPopup = showVerificationPopup;
                window.closeVerificationPopup = closeVerificationPopup;
            });
        </script>
{% endblock %}
