{% extends 'base.html' %}
{% load static %}

{% block title %}회원가입 성공 - Milble{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'signup_success.css' %}">
{% endblock %}

{% block main %}
    <main class="main-content">
        <div class="card">
            <h2>회원가입 성공!</h2>
            <p>회원가입 요청을 성공적으로 보냈어요!<br> 24시간 내에 심사될 거예요!</p>
            <a href="/">홈으로 돌아가기</a>
        </div>
    </main>

    <!-- Confetti Canvas -->
    <div class="confetti-canvas">
        <canvas id="confetti-canvas"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti"></script>
    <script>
        // Confetti 효과를 위해 추가된 JavaScript 코드
        document.addEventListener('DOMContentLoaded', function () {
            setTimeout(() => {
                confetti({
                    particleCount: 100,
                    spread: 70,
                    origin: { y: 0.6 }
                });
            }, 500);
        });
    </script>
{% endblock %}
